@charset "utf-8";
.main {
    margin: 20px auto 0;
    width: 1200px;
    height: 1094px;
    /* background-color: black;*/
    display: -webkit-flex;
    display: flex;
    align-content: stretch;
}

.main_c {
    width: 700px;
}
.c_img {
    height: 330px;
    position: relative;
}
.c_overmask {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(54, 59, 62, 0.50);
}
.c_wrap {
    height: 80%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.wrap_titile {
    padding: 50px 0;
    font-size: 30px;
    text-align: center;
}
.wrap_content {
    line-height: 30px;
    font-size: 14px;
    padding: 0 50px;
    text-align: justify;

}
.wrap_btn {
    text-align: center;
    margin-top: 55px;
}
.wrap_btn input {
    width: 158px;
    height: 48px;
    font-size: 18px;
    color: white;
    border-radius: 3px;
}

.wrap_btn1 {
    margin-right: 35px;
    background-color: #6999d2;
}
.wrap_btn1:hover {
    background-color: #77a6dc;
}
.wrap_btn2 {
    background-color: #cc803e;
}
.wrap_btn2:hover {
    background-color: #d68c4c;
}

.c_category {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 150px;
    margin-top: 30px;
}
.c_ul ul {
    width: 600px;
}
.c_ul li {
    display: inline-block;
    margin-right: 13px;
    margin-bottom: 5px;

}
.c_ul a{
    color: #7a7a7a;
    font-size: 13px;
}
.c_ul a:hover {
    color: #252121;
}
.c_title {
    width: 60px;
    height: 14px;
    color: #785d42;
    font-size: 14px;
    margin-right: 15px;
    line-height: 14px;
}
.c_invest {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 20px;
}
.c_phrase {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 20px;
}
.c_skill {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 20px;
}
.c_city {
    display: -webkit-flex;
    display: flex;
}

.main_people {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.people_item {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-flex;
    display: flex;
}
.people_photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #9c8369;
    color: white;
    font-size: 38px;
    line-height: 100px;
    text-align: center;
    margin-right: 20px;
}
.people_info {
    width: 349px;
    height: 80px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.info_name {
    display: -webkit-flex;
    display: flex
}
.info_name span:nth-child(1) {
    font-size: 24px;

}
.info_name span:nth-child(2) {
    background-color: #e1e7f8;
    color: #6e7faa;
    width: 48px;
    height: 15px;
    line-height: 19px;
    border-radius: 3px;
    margin-left: 10px;
    padding: 2px 5px;
    text-align: center;
    font-size: 10px;
}
.info_field {
    font-size: 13px;
    color: #242424;
}
.info_skill {
    font-size: 13px;
    color: #242424;
}
.people_talk {
    width: 165px;
    height: 80px;
    padding: 10px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.people_talk > input {
    width: 124px;
    height: 38px;
    background-color: rgb(176, 149, 120);
    color: white;
    font-size: 16px;
    align-self: center;

}
.people_talk span {
    font-size: 14px;
    color: rgb(181, 60, 60);
}

.main_r {
    width: 300px;
    padding-left: 20px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
.main_vote {
    height: 350px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vote_title {
    font-size: 14px;
    font-weight: bold;
    color: #E80000;
}
.vote_question {
    color: #221814;
    font-size: 12px;
    font-weight: bold;
    font-family: "Microsoft YaHei", sans-serif;
}
.vote_ckeck {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #221814;
    font-size: 12px;
    font-weight: bold;
    font-family: "Microsoft YaHei", sans-serif;
    height: 200px;

}
.vote_margin {
    margin-right: 10px;
}
.vote_ckeck div:nth-child(odd) {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.vote_progress {
    width: 228px;
    height: 6px;
    background-color: #b3b3b3;
    border-radius: 3px;
    margin-left: 18px;
}
.vote_btn input{
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 80px;
    border: solid 1px #6175b4;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #6175b4;
    cursor: pointer;
    background: #ffffff;
    border-radius: 3px;
}
.vote_btn input:hover{
    color: white;
    background-color: #042e63;
}
.main_hot {
    width: 300px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.hot_title {
    width: 300px;
    height: 20px;
    border-left: 5px solid rgb(176, 149, 120);
    color: #042e63;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}
.hot_item {
    display: -webkit-flex;
    display: flex;
    margin-top: 25px;
}
.hot_item div:nth-child(1) {
    width: 16px;
    height: 16px;
    color: #fff;
    border-radius: 50%;
    background-color: #c1976c;
    text-align: center;
    line-height: 16px;
    margin-right: 10px;
}
.hot_item div:nth-child(2) {
    width: 274px;
}
.hot_item a {
    font-size: 16px;
    color: #242424;
    margin-right: 150px;
}
.load {
    display: block;
    width: 600px;
    height: 40px;
    background-color: #f5f5f5;
    color: #9c8369;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    border-radius: 1px;
    margin: 100px auto;
}
.load:hover {
    background-color: #f1e9e9;
}


