@charset "utf-8";
.main {
    margin: 20px auto 0;
    width: 1200px;
    height: 1094px;
    /* background-color: black;*/
    display: -webkit-flex;
    display: flex;
    align-content: stretch;
}
.center_info {
    width: 1020px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
.center_image {
    width: 800px;
    height: 337px;
    background-color: yellow;
    display: -webkit-flex;
    display: flex;
}
.l_image {
    width: 500px;
    height: 312px;
    background: bisque;
}
.l_image > image {
    width: 500px;
    height: 312px;
}
.r_title {
    width: 265px;
    height: 236px;
    padding-left: 35px;
    background-color: red;
}
.project {
    display: -webkit-flex;
    display: flex;
    align-content: stretch;
    width: 1020px;
    /*height: 337px;*/
    margin-bottom: 20px;
}
.project_info {
    width: 630px;
    /*height: 337px;*/
    background-color: #fafafa;
    padding: 45px;

}
.project_info > div {
    margin-bottom: 40px;
}
.member {
    width: 600px;
    height: 120px;
}
.m_title {
    color: #000000;
    font-size: 18px;
    border-left: solid 5px #b09578;
    padding-left: 10px;
}
.info_content {
    margin-top: 30px;
}
.member_title {
    margin-bottom: 40px;
}
.member_info {
    display: -webkit-flex;
    display: flex;
}
.member_photo {
    width: 60px;
    height: 60px;
    background-color: red;
    margin-right: 20px;
    border-radius: 50%;
}

.member_txt {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.member_txt div:nth-child(1) {
    font-size: 14px;
    color: #727272;
}
.member_txt div:nth-child(2) {
    color: #727272;
    font-size: 12px;
}
.member_name {
    font-size: 24px;
    color: #242424;
    margin-right: 10px;
}
.comment {
    margin-top: 100px;
}
.comment_photo {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}
.comment_send > div {
    display: -webkit-flex;
    display: flex;
}
.wangYou {
    font-size: 14px;
    text-align: center;
}
.comment_text textarea {
    display: block;
    width: 580px;
    height: 40px;
    border: 1px solid #d6d7da;
    font-size: 14px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 3px;
}
.comment_code {
    height: 70px;
    width: 600px;
    line-height: 50px;
    display: -webkit-flex;
    display: flex;
    margin-left: 60px;
    margin-top: 15px;
}
.comment_send {
    margin-top: 30px;
}
.code_image {
    margin-left: 30px;
}
.comment_code input {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #d6d7da;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 3px;
}
.code_btn{
    width: 75px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    background: #b09578;
    text-align: center;
    cursor: pointer;
    margin-left: 100px;
    border-radius: 3px;
}
.code_btn:hover {
    background-color: #B09E7C;
}
.comment_more {
    height: 40px;
    width: 720px;
    background-color: #f5f5f5;
    border-radius: 1px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}
.project_similar {
    width: 300px;
    /*height: 337px;*/
    background-color: #fafafa;
}
.similar_item {
    display: -webkit-flex;
    display: flex;
}
.similar_item div {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #c1976c;
    margin-right: 10px;
    line-height: 16px;
    text-align: center;

}